{# app.twig #}
{% extends "_layout/layout.twig" %}

{% block page %}
<nav class="tabs" data-component="tabs">
    <ul>
        <li class="active"><a href="#tab1">Список</a></li>
        <li><a href="#tab2">Новая группа</a></li>
    </ul>
</nav>
<div id="main">
  <div id="tab1">
    {% include "_tabs/currentstate.twig" %}

  </div>
  <div id="tab2">
    {% include "_tabs/newgroup.twig" %}
  </div>
</div>
{% endblock %}
