<table>
  <thead>
      <tr>
          <th>Номер</th>
          <th>Название</th>
          <th>Число команд</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td>
          <td>Чемпионат города</td>
          <td>16</td>
      </tr>
  </tbody>
</table>
